*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
    --primary: rgb(16, 228, 48);      
    --secondary: #00C9A7;    
    --light: white;        
    --error: #FF5A5F;  
    --dark: #0D1117;        
}


.img{
    width: 100%;
}
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
.con{
    width: 90%;
    margin: auto;
}
body{
    padding-top: 70px;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 15px 0;
     border-bottom: 1px solid rgb(65, 61, 61);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     background-color: var(--light);
     z-index: 100;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.dot{
    color: var(--primary);
}
.menu,.times{
    display: none;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 100;

}
.nav a{
    margin:0 15px;
    color: rgb(65, 61, 61);
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
    

}
.nav a:hover{ 
    color : var(--primary);

}
.nav a:active{
    color: var(--primary);
}
.light{
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 30px;
}
.light a{
    color: var(--light);
    font-weight: bold;
    font-size: 18px;
}
.light:hover{
    background-color: var(--secondary);
}
.light a:hover{
    color: var(--light);
}

/* header section  */
@media (max-width:900px) {
    .menu{
    display: block;
       font-size : 30px;
       cursor: pointer;
       color: rgb(65, 61, 61); 
    }
    .times{
    display: block;
       font-size : 30px;
       cursor: pointer;
       color: white; 
    }
    .nav{
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 0px;
        right: -100%;
        width: 200px;
        height: 1000vh;
        background-color: var(--dark);
        text-align: center;
        z-index: 100;
        padding: 0 20px;
        transition: 0.3s;
        align-items: center;
        justify-content: start;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        
    }
    
    .nav a{
        display: block;
        margin: 40px 0;
        color: white;
    }
    .light{
      display: none;
    }
  

}
.home{
     background: rgb(5, 5, 56);
     /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/create-image-background---and-white-color-.png); */
    padding: 40px 0;
    background-position: center;
    background-attachment: fixed;
    
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.home-text{
    flex-basis: 45%;
    line-height: 35px;
    color: var(--light);
   
}
.home-text h1{
    margin-bottom: 20px;
   
}
.home-text .descr{
    margin-bottom: 20px;
    line-height: 30px;
     color: var(--light);
}
.image{
    flex-basis: 40%;
    border-radius: 10px;
    overflow: hidden;
}
.image img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
.image:hover img{
    scale: 1.02;
}

.button{
    margin-top: 40px;
}
.btn1{
    background-color: var(--primary);
    padding: 10px 30px;
    color: var(--light);
    margin-right: 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;

}
.btn1:hover{
    background-color: var(--secondary);
}
.btn2{
    border: 1px solid var(--primary) ;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--light);
    font-weight: bold;
    transition: 0.3s;
}
.btn2:hover{
    background-color: var(--secondary);
    color: var(--light);
    border: 1px solid var(--secondary) ;
}
.year{
    display: flex;
    margin-top: 40px;
}
.experience ,.project ,.client{
    padding: 10px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light);
    text-align: center;    
}
.experience i,h3,p{
    margin-bottom: 5px;
}
.experience i{
    color: var(--primary);
    font-size: 20px;
}
.project i{
    color: var(--primary);
    font-size: 20px;
}
.client i{
    color: var(--primary);
    font-size: 20px;
}
.experience p{
    font-size: 15px;
    line-height: 10px;
}
.project p{
    font-size: 15px;
    line-height: 10px;
}
.client p{
    font-size: 15px;
    line-height: 10px;
}
.project i,h2,p{
    margin-bottom: 10px;

}
.client i,h2,p{
    margin-bottom: 10px;
}
@media (max-width:1024px) {
    .container{
        flex-direction: column;
    }
    .home-text{
        flex-basis: 100%;
    }
    .image{
        flex-basis: 100%;
    }
    .btn1,.btn2{
        padding: 10px 20px;
    }
    #name{
        font-size: 20px;
    }
    .experience p{
    line-height: 20px;
}
    .project p{
    line-height: 20px;
}
    .client p{
    line-height: 20px;
}
}

@media (max-width:344px) {
     .btn1,.btn2{
        padding: 10px 8px;
    }
}

/* About Me Section */
.about{
    padding: 40px 0;
}

.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--dark);
    margin-bottom: 50px;
}
.heading h1{
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 40%;
    height: 3px;
    background-color: var(--primary);
    display: block;

}
.about-text{
    flex-basis: 45%;
}
.about-info{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.about-info div{
    flex-basis: 50%;
}
.about-info div p{
    margin-bottom: 20px;
    line-height: 20px;
    color: var(--dark);
}
.link{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.link a{
    background-color: var(--dark);
    padding: 10px;
    border-radius: 50%;
    color: var(--light);
    transition: 0.3s;
}
.link a:hover{
    background-color: var(--primary);
}
.des p{
    line-height: 30px;
    color: var(--dark);
}
@media (max-width:1024px) {
    .home-text{
        order: 2;
    }
    .about-info{
        flex-direction: column;
    }
    .about-text{
        flex-basis: 100%;
    }

}

/* Skill Section */

.skill{
    padding: 40px 0;
     background: rgb(5, 5, 56);
    color: white;
}
.skill-box{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.progress{
    width: 300px;
    height: 10px;
    border: 1px solid var(--light);
    border-radius: 3px;
    overflow: hidden;

}
.pro1{
    width: 98%;
    background-color: var(--primary);
    height: 100%;
}
.pro2{
    width: 90%;
    background-color: var(--primary);
    height: 100%;
}
.pro3{
    width: 90%;
    background-color: var(--primary);
    height: 100%;
}
.pro4{
    width: 70%;
    background-color: var(--primary);
    height: 100%;
}
.pro5{
    width: 50%;
    background-color: var(--primary);
    height: 100%;
}

.pro6{
    width: 90%;
    background-color: var(--primary);
    height: 100%;
}
.pro7{
    width: 77%;
    background-color: var(--primary);
    height: 100%;
}
.pro8{
    width: 90%;
    background-color: var(--primary);
    height: 100%;
}
.pro9{
    width: 80%;
    background-color: var(--primary);
    height: 100%;
}
.pro10{
    width: 60%;
    background-color: var(--primary);
    height: 100%;
}
.col{
    flex-basis: 45%;
}
.skill-name{
     display: flex;
     flex-basis: 100%;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}
.bar{
    flex-basis: 100%;
}
.progress{
    width: 100%;
}
@media (max-width:1024px) {
   .skill .container{
    gap: 0;
}


}

.service{
    padding: 40px 0;
}

.card{
    background-color: var(--light);
    border-radius: 10px;
     transition: 0.3s;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-basis: 25%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}
.card i{ 
    color: var(--light);
    text-align: center; 
    font-size: 30px;
}
.card div {
    padding: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    margin: 20px;

}
.card h3{
    margin-bottom: 20px;
    line-height: 20px;
}
.card p{
    margin-bottom: 20px;
    line-height: 30px;   
    padding: 10px 10px; 
    text-align: center;
}
.card:hover div{
    background-color: var(--light);
}
.card:hover i{
    color: var(--primary);
}
.card:hover{
    background-color: var(--primary);
    color: var(--light);
}
@media (max-width:700px) {
    .card{
        flex-basis: 100%;
    }
}

/* Project Section */
.project1{
    padding: 40px 0;
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/background.png); */
     background: rgb(5, 5, 56);
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    
}
.pro-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 2px;
    margin-bottom: 20px;
    flex-basis: 33.3%;
    border-radius: 10px;
    transition: 0.5s;
    height: 250px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary);
    border-bottom: 10px solid var(--secondary);
    /* box-shadow: 0 0 25px var(--primary);    */
}
.pro-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.pro-desc{
   position: absolute;
   width: 100%;
   background: var(--light);
   bottom: 0;
   
}
.pro-desc h4{
    margin-bottom: 10px;
    color: var(--dark);
    padding: 10px;
    display: flex;
    align-items: end;
}
.pro-link{
    text-align: center;
    color: white;
    position: absolute;
    background: linear-gradient(rgba(7, 7, 102,0.2),rgba(7, 7, 102,0.5),rgba(7, 7, 102,1));
    width: 100%;
    height: 0%;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: end;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.pro-link p{
    margin: 15px 0;
    line-height: 20px;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.pro-card:hover .pro-link{
     bottom: 0;
     height: 100%;
     opacity: 1;
     
}
.pro-link a{
    color: var(--light);
    padding: 10px 25px;
    font-weight: bold;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background-color: var(--primary);
    
}
.pro-link a:hover{
    border: 2px solid var(--error);
    background-color: var(--error);
}
.proj{
    color: white;
}
.tech{
    color: var(--secondary);
}
/* Responsive for Project Section */
@media (max-width:700px) {
    .pro-card{
        flex-basis: 80%;
        height: 250px;
    }
}
/* meadia section */
.media{
     padding: 40px 0;
     background-color: rgb(232, 231, 231);
}
.media-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sontact Section */

.contact{
    margin: 40px 0;
}
.contact-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card1{
    background-color: var(--light);
    flex-basis: 33%;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 15px 10px rgba(16, 228, 48,0.5);
    border: 2px dotted var(--primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
   
   
}
.ico{
     margin-bottom: 20px;
     background-color: var(--primary);
     width: 35px;
     height: 35px;
     border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.ico i{
     color: var(--light);
    text-align: center;  
    font-size: 15px;
    transition: 0.4s;
    
}
.card1 h3{
    margin-bottom: 20px;
    transition: 0.4s;
}
.card1 p{
    font-size: 15px;
    transition: 0.4s;
}
.card1:hover{
    background-color: var(--primary);
     

    
}
.card1:hover .ico{
    background-color: var(--light);
}
.card1:hover .ico i{
     color: var(--primary);
}
.card1:hover h3{
    color: var(--light);
}
.card1:hover p{
    color: var(--light);
}
form{
    flex-basis: 50%;
}
.map{
    flex-basis: 40%;
    overflow: hidden;
    border: 1px solid var(--primary);
}
.map iframe{
    width: 100%;
    height: 100%;
}
.contact-info1{
    margin: 40px 0;
}
input{
    border: none;
    outline: none;
    border-bottom: 3px solid var(--primary);
    padding: 10px 0;
    width: 100%;
    margin-bottom: 40px;
}
input::placeholder{
    
    font-weight: bold;
}
textarea{
    border: none;
    outline: none;
    border: 1px solid var(--primary);
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 10px;
    border-radius: 5px;
}
textarea::placeholder{
    
    font-weight: bold;
}
.btn{
    border: none;
    outline: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--light);
    background-color: var(--primary);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--secondary);
}



@media (max-width:1024px) {
    .contact-con{
        flex-direction: column;

    }
    .card1{
        flex-basis: 100%;
        width: 90%;
         
    }
    
}

/* Footer Section */

footer{
    background-color: black;
    padding: 40px 0;

}

.quick h3{
    color: var(--primary);
    margin-bottom: 10px;
    text-align: center;


}
.quick a{
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--light);
    text-align: center;
}
.fopt-pro a{
     display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--light);
    text-align: center;
}
.fopt-pro h3{
    color: var(--primary);
    margin-bottom: 10px;
    text-align: center;


}
.foot-desc h3{
    color: var(--primary);
    margin-bottom: 10px;
    text-align: center;
}
.quick{
    flex-basis: 40%;
}
.foot-desc p{
    color: var(--light);
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
}
.fopt-pro{
    flex-basis: 40%;
}
.foot-desc{
    flex-basis: 40%;
}
.foot-skill{
    text-align: center;
    flex-basis: 30%;
}
.foot-skill h3{
    color: var(--primary);
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.foot-skill p{
    color: var(--light);
}
.line2{
    background-color: var(--light);
    width: 30%;
    margin: auto;
    height: 2px;
  
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.hr p{
    color: var(--light);
}
.cont1{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}











